<section class="settings-section section">
    <div class="container">
      <div class="row">
        <div class="offset-md-1"></div>
        <div class="col-5 col-mdr-12">
          <form class="w-100" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            
            <div class="form-group">
              <label for="password">
                <span>Old password</span>
                <small class="error" *ngIf="wrongPassword">Wrong Password</small>
              </label>
              <input 
                type="password" 
                id="old_password"  
                formControlName="old_password"
                [class.invalid]="wrongPassword"/>
            </div>
            
            <div class="form-group">
              <label for="password">
                <span>New password</span>
                <small 
                    class="error" 
                    *ngIf="passwordForm.get('password').errors?.minlength && passwordForm.get('password').touched"
                    >Password too short</small>
                <small 
                    class="error" 
                    *ngIf="passwordForm.get('password').errors?.required && passwordForm.get('password').touched"
                    >This field is required</small>
              </label>
              <input 
                type="password" 
                id="password"  
                formControlName="password"
                [class.invalid]="
                    (passwordForm.get('password').errors?.minlength 
                    || passwordForm.get('password').errors?.required)
                    && passwordForm.get('password').touched"/>
            </div>

            <div class="form-group">
              <label for="password_confirmation">
                <span>Confirm new password</span>
                <small class="error" *ngIf="notMatched() && this.passwordForm.get('password_confirmation').touched">Password don't match</small>
              </label>
              <input 
                type="password" 
                id="password_confirmation"  
                formControlName="password_confirmation"
                [class.invalid]="notMatched() && this.passwordForm.get('password_confirmation').touched"/>
            </div>


            <div class="form-group">
              <button type="submit" [disabled]="passwordForm.invalid || notMatched() || isLoading">
                <span *ngIf="!isLoading">Change</span>
                <app-loading-button *ngIf="isLoading"></app-loading-button>      
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
  