<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-1"></div>
      <div class="wrapper col-10 col-mdr-12">
        <ul class="icons">
          <li>
            <a href="https://twitter.com/MrMohamed98" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://dribbble.com/MohamedAbdallah" target="_blank"><i class="fab fa-dribbble"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mohamed-abdallah-b731b61a2/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
        <div>
          <p>Insatll On: <a href="#">Android </a>And <a href="#">IOS</a></p>
        </div>
      </div>
      <div class="offset-1"></div>
    </div>
  </div>
</footer>
