*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: color("light");
}

// Hero section
.hero-section{
    @extend .d-flex;
    height: 100vh;
    min-height: 600px;
    flex-direction: column;
    justify-content: center;

    // Background
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: color("dark");
        opacity: .65;
        z-index: 0;
    }
    .container{
        z-index: 1;
    }
    .text-container{
        h1{
            color: color("white");
            font-size: 52px;
            margin: 0px 0px 20px 0px;
            mark{
                background-color: transparent;
                color: color("primary");
            }
        }
        form{
            @extend .d-flex;
            margin-top: 50px;
            width: 50%;
            input{
                outline: none;
                padding: 10px 15px;
                color: color("dark");
                font-size: 24px;
                border: none;
                background-color: color("white");
                flex-grow: 1;
                font-weight: 500;
                &, &:focus{
                    box-shadow: none;
                }
            }
            button[type="submit"]{
                background-color: color("primary");
                color: color("white");
                border: none;
                font-size: 20px;
                padding: 10px 30px;
                &:hover{
                    background-color: darken(color("primary"), 5);
                }
            }
        }

        .explor-btn{
            @extend .d-inline-block;
            background-color: color("primary");
            color: color("white");
            padding: 12px 60px;
            margin-top: 30px;
            font-size: 24px;
            font-weight: bolder;
            &:hover{
                background-color: darken(color("primary"), 5);
            }
        }
    }
}

// Mobile Section
.mobile-section{
    background-color: color("primary");
    color: color("white");
    height: 100vh;
    min-height: 700px;
    .row, .container{
        height: 100%;
    }
    
  
    h2{
       font-size: 32px;
       padding: 0px;
       margin: 0px; 
    }
    p{
        margin: 30px 0px 50px 0px;
        padding: 0px;
        font-size: 20px;
    }
    [class^="col"]{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .col:nth-child(1){
        z-index: 1;
    }
    .col:nth-child(2){
        z-index: 2;
    }
    
    .img-wrapper{
        position: relative;
        .mobile-img{
            width: 100%;
            z-index: 1;
        }
        .back-img{
            position: absolute;
            width: 150%;
            left: -120px;
            z-index: 0;
        }
    }

    .btns{
        display: flex;
        a{
            display: block;
            margin-right: 20px;
            img{
                width: 200px;
            }
        }
    }
}

// Upload Section
.upload-section{
    @extend .mobile-section;
    background-color: white;
    color: color("dark");
    img{
        width: 100%;
    }
    a{
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        padding: 15px 40px;
        background-color: color("primary");
        color: color("white");
        &:hover{
            background-color: darken(color("primary"), 5);
        }
    }
}


//  Create Account
.create-section{
    text-align: center;
    padding: 100px 0px 150px 0px;
    .container, .row{
        height: 100%;
    }
    [class^="col"]{
        @extend .d-flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        font-size: 32px;
        margin: 0px;
    }
    span{
        font-size: 20px;
    }
    a{
        display: inline-block;
        color: color("white");
        background-color: color("primary");
        font-weight: bold;
        font-size: 20px;
        padding: 10px 38px;
        &:hover{
            background-color: darken(color("primary"), 5);
        }
        &.big-btn{
            margin: 50px 0px 30px 0px;
            padding: 20px 50px;
            font-size: 24px;
        }
    }
}


// Modals
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 101;
    display: none;
    overflow-y: auto;
    .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: color("dark");
        opacity: .5;
    }
    .form-container{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        min-height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        background-color: transparentize($color: color("dark"), $amount: .5)
    }
    form{
        background-color: color("light");
        padding: 30px;
        width: 500px;
        input{
            width: 100%;
        }
        button[type="submit"]{
            border: none;
            background-color: color("primary");
            color: color("white");
            display: block;
            width: 100%;
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
            &:hover{
                background-color: darken(color("primary"), 5);
            }
        }
        .msg{
            font-size: 16px;
            a{
                font-weight: bold;
                color: color("primary");
                &:hover{
                    color: darken(color("primary"), 5);
                }
            }
        }
    }
}
body.show-modal-login{
    overflow: hidden;
    .modal-login{
        display: block;
    }
}
body.show-modal-register{
    overflow: hidden;
    .modal-register{
        display: block;
    }
}

// Explore
.explore-section, .user-section, .search-section{
    margin: 150px 0px 100px 0px;
}
.artist-card{
    img{
        width: 100%;
        max-height: 350px;
        min-height: 250px;
        object-fit: cover;
        object-position: center;
    }
    .artist-name{
        font-weight: bold;
        font-size: 18px;
        color: color("dark");
        &:hover{
            color: color("primary");
        }
    }
    .artist-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0px;
        font-size: 14px;
    }
    .songs{
        font-weight: bold;
    }
}
.artist-card-wrapper{
    position: relative;
    .artist-card{
        position: sticky;
        top: 150px;
    }
}

.song-card{
    margin-bottom: 30px;
    .body{
        background-color: color("light");
        padding: 20px;
        border-radius: 10px;
        box-shadow: -3px -3px 6px color("white"), 3px 3px 6px transparentize(color("black"), 1 - .44);
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        &.playing{
            background-color: color("primary");
            color: white;
            .play-icon{
                color: color("white");
            }
        }
    }
    .info{
        flex-grow: 1;
    }
    .play-icon{
        $size: 70px;
        height: $size;
        width: $size;
        border-radius: $size;
        box-shadow: -3px -3px 6px color("white"), 3px 3px 6px transparentize(color("black"), 1 - .44);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-right: 20px;
        color: color("primary");
        cursor: pointer;
        &:hover{
            background-color: darken(color("light"), 3);
        }
    }
    .song-name{
        font-size: 16px;
        font-weight: bold;
    }
    .song-length{
        font-size: 14px; 
        font-weight: bold;
    }
    .song-plays, .song-date{
        font-size: 10px;
    }
    .info-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 5px;
            margin-bottom: 5px;
            background-color: color("primary");
            color: color("white");
            font-weight: bold;
            border-radius: 5px;
            padding: 5px;
            font-size: 12px;
            &:hover{
                background-color: darken(color("primary"), 5);
            }
        }
        
    }
}

.search-song{
    display: flex;
    margin-bottom: 30px;
    img{
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        object-position: center;
    }
    .user-name{
        font-weight: bold;
        font-size: 12px;
        color: color("dark");
        &:hover{
            color: color("primary");
        }
    }
}