$numberOfColumns: 12;

$gutter: 30px;

// Break points
@mixin lg(){
    @media (min-width: 1200px){
        @content;
    }
}

@mixin md(){
    @media (min-width: 1000px){
        @content;
    }
}
@mixin mdr(){
    @media (max-width: 900px){
        @content;
    }
}


.container{
    margin-left: auto;
    margin-right: auto;
    @include lg{
        width: 1200px;
    }
    @include md{
        width: 1000px;
    }
    @include mdr(){
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
}

// [class^="col-"]{
//     padding-right: $gutter / 2;
//     padding-left: $gutter / 2;
// }
[class^="offset"]{
    display: none;
}

@for $i from 1 through 12{
    .col-#{$i}{
        @extend .col;
        width: (100% / 12) * $i;
    }

    @include lg{
        .col-lg-#{$i}{
            padding-left: $gutter / 2;
            width: (100% / 12) * $i;
        }
        .offset-#{$i}{
            display: block;
            width: (100% / 12) * $i;
        }
    }
    @include md{
        .col-md-#{$i}{
            padding-left: $gutter / 2;
            width: (100% / 12) * $i;
        }
        .offset-md-#{$i}{
            display: block;
            width: (100% / 12) * $i;
        }
    }
    @include mdr{
        .col-mdr-#{$i}{
            padding-left: $gutter / 2;
            width: (100% / 12) * $i;
        }
        
    }
}


// Grid for artist crads
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 80px;
    @include mdr{
        grid-template-columns: repeat(2, 1fr);
    }
}