<section class="search-section section">
  <div class="container">
    <div class="row">
      <div class="offset-md-1"></div>
      <div class="col-10 col-mdr-12">
        <h1>Search for: "{{ query }}"</h1>
      </div>
    </div>
    <div class="row" *ngFor="let song of songs; let i = index" @songSearchCardTrigger>
      <div class="offset-md-1"></div>
      <div class="col-10 p-0 search-song col-mdr-12">
        <div class="col-2">
          <a [routerLink]="['/user', song.user.slug]">
            <img class="user-img" [src]="song.user.pic ? song.user.pic : 'assets/images/placeholder.png'"/>
          </a>
          <a class="user-name" [routerLink]="['/user', song.user.slug]">{{ song.user.name | titlecase }}</a>
        </div>
        <div class="col-10">
          <!-- Song Card -->
          <app-song-card [song]="song" (deleted)="deleted(i)"></app-song-card>
        </div>
      </div>
      <div class="offset-md-1"></div>
    </div>

    <h1 style="text-align: center;" *ngIf="noResutls">No Results</h1>
    <div class="col-10 mx-auto col-mdr-12">
      <app-fetching (bottom)="search()"  *ngIf="nextPage"></app-fetching>
    </div>
  </div>
</section>
