<nav class="navbar">
    <div class="container">
      <div class="offset-md-1"></div>
      <div class="navbar-logo"><a routerLink="/"><img src="assets/images/logo.svg"/></a></div>
      <form>
        <input type="text" placeholder="Search"/>
        <button type="submit"> <i class="fas fa-search"></i></button>
      </form><!-- .menu-icon.ml-auto  img(src="/images/menu.svg")  -->
      <ul class="navbar-nav">
        <li><a routerLink="/login">Login</a></li>
        <li class="btn"><a routerLink="/register">Join</a></li>
      </ul>
      <div class="offset-md-1"></div>
    </div>
  </nav>