<div class="modal modal-login">
  <i
    routerLink="/"
    class="fas fa-times"
    style="color: white; font-size: 32px; position: absolute; top: 40px; right: 50px; z-index: 100; cursor: pointer;"
  ></i>
  <div class="form-container">
    <div class="overlay" routerLink="/"></div>
    <form style="z-index: 50;" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <div class="form-group">
        <label for="email">
          <span>Email</span>
          <!-- Errors -->
          <small class="error" *ngIf="loginForm.get('email').errors?.required && invalid('email')">This field is require</small>
          <small class="error" *ngIf="loginForm.get('email').errors?.email && invalid('email')">Please enter a valid email</small>
          <small class="error" 
            *ngIf="!((loginForm.get('email').errors?.required || loginForm.get('email').errors?.email)  && invalid('email')) && wrongInfo">Wrong email and password</small>
        </label>
        <input [class.invalid]="invalid('email') || wrongInfo" type="email" id="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password"> 
          <span>Password</span>
            <!-- Errors -->
            <small class="error" *ngIf="loginForm.get('password').errors?.required && invalid('password')">This field is require</small>
            <small class="error" *ngIf="loginForm.get('password').errors?.minlength && invalid('password')">Password can't be less than 6 characters</small>
        </label>
        <input [class.invalid]="invalid('password') || wrongInfo" type="password" id="password" formControlName="password" />
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="loginForm.invalid || isLoading">
          <span *ngIf="!isLoading">Login</span>
          <app-loading-button *ngIf="isLoading"></app-loading-button>
        </button>
      </div>
      <div class="msg">
        <span
          >Don't have an account? <a routerLink="/register">Register</a></span
        >
      </div>
    </form>
  </div>
</div>
