side.side-menu
    .overlay
    .list-container
        i.fas.fa-times.close-icon
        ul
            li.active
                a(href="#") Profile
            li
                a(href="#") Upload
            li
                a(href="#") Settings
        
        ul
            li
                a(href="#") Change Password
            li
                a(href="#") Logout

