nav.navbar
    .container
        .offset-md-1
        .navbar-logo
            a(href="/")
                img(src="/images/logo.svg")
        form
            input(type="text", placeholder="Search")
            button(type="submit") 
                i.fas.fa-search
        <!-- .menu-icon.ml-auto  img(src="/images/menu.svg")  -->
        ul.navbar-nav
            li
                a(href="#") Login
            li.btn
                a(href="#") Join
        .offset-md-1