nav.navbar
    .container
        .navbar-logo
            a(href="#")
                img(src="/images/logo.svg")
        form
            input(type="text", placeholder="Search")
            button(type="submit") 
                i.fas.fa-search
        ul.navbar-nav
            li
                a(href="#") Login
            li.btn
                a(href="#") Join