.song-card
    <!-- body.playing -->
    .body
        .play-icon
            <i class="fas fa-play"></i>
            <!-- <i class="fas fa-pause"></i> -->
        .info
            .info-row
                span.song-name When Thugs Cry
                span.song-date 1 year ago
            .info-row
                span.song-length 3:35
                span.song-plays  <i class="fas fa-play"></i> 20.1k
    ul.tags
        -for(let i = 0; i < 5; i++)
            li
                a(hef="#") someTag
