extends inc/layout.pug

block content
    section.password-section.section
        .container
            .row
                .offset-1
                .col-5
                    form.w-100
                        .form-group
                            label(for="old_password") 
                                span Old Password
                            input(type="password", id="old_password")
                        .form-group
                            label(for="new_password") 
                                span New Password
                            input(type="password", id="new_password")
                        .form-group
                            label(for="new_password_confirmation") 
                                span Confirm New Password
                            input(type="password", id="new_password_confirmation")
                        .form-group
                            button(type="submit") Change