extends inc/layout.pug

block content
    section.explore-section.section
        .container
            .row
                .offset-1
                .col-10.p-0.grid
                    -for(let i = 1; i <= 8; i++)
                        .artist-card
                            a(href="/user.html")
                                img(src=`/images/placeholder (${i}).jpg`, alt="artist name")
                            a(href="/user.html").artist-name John Doe
                            .artist-info
                                .songs
                                    |32 Songs
                                .plays <i class="fas fa-play"></i> 50.7k