<div class="artist-card">
    <a [routerLink]="['/user', user.slug]">
        <img [src]="user.pic ? user.pic : 'assets/images/placeholder.png'" [alt]="user.name"/>
    </a>
    <a class="artist-name" [routerLink]="['/user', user.slug]">
      {{ user.name | titlecase }}
      <span *ngIf="loggedUser && loggedUser.id == user.id" style="font-weight: 500">(You)</span>
    </a>
    <div class="artist-info">
      <div class="songs">32 Songs</div>
      <div class="plays"><i class="fas fa-play"></i> 50.7k</div>
    </div>
  </div>