button.delete{
    display: block;
    border: 0px;
    margin-left: auto;
    background-color: #FF5050;
    color: white;
    font-weight: bolder;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 5px;
    &:hover{
        background-color: darken(#FF5050, 10);
    }
}

.body.playing{
    .play-icon{
        &:hover{
            background-color: darken(#6763FF, 5);
        }
    }
}