<div class="song-card">
  <!-- body.playing -->
  <div class="body" [class.playing]="playingSong?.id == song.id">
    <div class="play-icon" (click)="playSong()">
      <i class="fas fa-play" *ngIf="!isPlaying"></i>
      <i class="fas fa-pause" *ngIf="isPlaying"></i>
    </div>
    <div class="info">
      <div class="info-row">
        <span class="song-name">{{ song.name | titlecase }}</span>
        <span class="song-date">{{ song.createdAtHuman }}</span>
      </div>
      <div class="info-row">
        <span class="song-length">{{ song.time }}</span>
        <!-- <span class="song-plays"> <i class="fas fa-play"></i> 20.1k</span> -->
      </div>
    </div>
  </div>
  <ul class="tags">
    <li *ngFor="let tag of song.tags">
      <a [routerLink]="['/search', tag]">{{ tag }}</a>
    </li>
    <!-- Bad practice :( to be changed-->
    <button class="delete" *ngIf="isOwner" (click)="delete()">Delete</button>
  </ul>
</div>
