<!-- ================ Video ================ -->
<video #video>
</video>
<!-- ================ /Video ================ -->
<div class="player" *ngIf="song">

    
    <div class="close-icon" (click)="close()"><i class="fas fa-times"></i></div>
    <div class="player-container">
      <section class="user d-flex"><img [src]="song.user.pic"/>
        <div class="user-info"><a class="username" href="#">John Doe</a><span>Song name</span></div>
      </section>
      <section class="controls d-flex">
        <span class="play" (click)="toggle()">
          <i class="fas fa-play" *ngIf="!isPlaying"></i> 
          <i class="fas fa-pause" *ngIf="isPlaying"></i>
        </span>
        <span class="repeat active"><i class="fas fa-retweet"></i></span><span class="number">{{ song.time }}</span>
        <div class="slider" id="bar" (appBar)="songBar($event)" (finalClick)="finalClick()">
          <div class="full">
            <div class="finished" [style.width]="barWidth">
              <div class="circle"></div>
            </div>
          </div>
        </div><span class="number">{{ currentTime }}</span>
      </section>
      <section class="sound d-flex">
        <div class="icon">
          <!-- Volume icon -->
          <i class="fas fa-volume-up" *ngIf="volumeWidth >= 50"></i>
          <i class="fas fa-volume-down" *ngIf="volumeWidth < 50 && volumeWidth > 0"></i>
          <i class="fas fa-volume-mute" *ngIf="volumeWidth == 0"></i>
        </div>
        <div class="slider" (appBar)="soundBar($event)">
          <div class="full">
            <div class="finished" [style.width]="volumeWidth + '%'">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>